<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Tibet Files</title>

    <link rel="stylesheet" href="../static/css/new.css">
    <link rel="icon" href="../static/img/icon-removebg-preview.webp">

    <script defer src="../static/js/main.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Exposing China's Brutal Oppression in Tibet">
    <meta name="keywords" content="Tibet, China, Human Rights, Freedom, Dalai Lama, Buddhism, Culture, History">
    <meta name="author" content="The Tibet Files">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:title" content="The Tibet Files">
    <meta property="og:description" content="Exposing China's Brutal Oppression in Tibet">
    <meta property="og:image" content="../static/icon-removebg-preview.webp">
    <meta property="og:url" content="https://thetibetfiles.com/">
    <meta property="og:type" content="website">

</head>
<body>

<div class="hero" id="hero">
    <div id="hero-background" class="hero-background"></div>
    <div class="hero-content">
        <img src="../static/img/tbf.webp" alt="The Tibet Files" class="logo" width="256px">
        <h2 class="subheading">404</h2>

        <div class="hero-links">
            <a href="/" class="hero-link">/Home/</a>
            <a href="/resources" class="hero-link">/Resources/</a>
            <a href="/store" class="hero-link">/Store/</a>
            <a href="/cart" class="hero-link">/Cart/</a>
            <a href="https://www.phayul.com/" class="hero-link">/News/</a>
            <a href="https://thetibetfiles.123Guestbook.com/" class="hero-link">/Guestbook/</a>
        </div>
    </div>

    <hr>

    <h2 id="developer">Are you a developer?</h2>
    <p>
        If yes, show solidarity with the Tibetan people by adding this button to your website or app and linking it to
        this page.
    </p>

    <a href="/">
        <img
                src="../static/img/tibet.gif"
                alt="Text 'Free Tibet Now!!!' on a grey background, with the Tibetan flag on the bottom right corner">
        <br>
    </a>

    <script src="https://gist.github.com/BeauTheBeau/cf8de18562f66a0b8738426ee28cbde4.js"></script>


    <hr>

    <iframe class="youtube-video-player" width="560" height="315"
            src="https://www.youtube-nocookie.com/embed/W3E3YvCe0j0?controls=1"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>


</div>

</body>
</html>