<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Tibet Files</title>

    <link rel="stylesheet" href="../static/css/new.css">
    <link rel="icon" href="../static/img/icon-removebg-preview.webp">

    <script defer src="../static/js/main.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Exposing China's Brutal Oppression in Tibet">
    <meta name="keywords" content="Tibet, China, Human Rights, Freedom, Dalai Lama, Buddhism, Culture, History">
    <meta name="author" content="The Tibet Files">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:title" content="The Tibet Files">
    <meta property="og:description" content="Exposing China's Brutal Oppression in Tibet">
    <meta property="og:image" content="../static/icon-removebg-preview.webp">
    <meta property="og:url" content="https://thetibetfiles.com/">
    <meta property="og:type" content="website">

</head>
<body>

<div class="hero" id="hero">
    <div id="hero-background" class="hero-background"></div>
    <div class="hero-content">
        <img src="../static/img/tbf.webp" alt="The Tibet Files" class="logo" width="256px">
        <h2 class="subheading">Exposing China's Brutal Oppression in Tibet</h2>
    </div>

    <a class="hero-scroll_down" href="#main"><img src="../static/img/arrow-down.webp" alt="Scroll Down" width="64px"></a>

</div>

<nav class="nav">
    <div class="nav-logo">
        <a href="/"><img src="../static/img/tbf.webp" alt="The Tibet Files" width="128px"></a>
    </div>

    {# Hamburger Menu #}
    <img class="nav-hamburger nav-show__hide" src="../static/img/menu.webp" alt="Menu" width="48">

</nav>


<div class="nav-menu">

    <a class="nav-logo" href="/"><img src="../static/img/tbf.webp" alt="The Tibet Files" width="128px"></a>

    <ul>
        <li><a tabindex="-1" href={{ url_for('main') }}>/home/</a></li>
        <li><a tabindex="-1" href={{ url_for('resources') }}>/resources/</a></li>
        <li><a tabindex="-1" href={{ url_for('store') }}>/store/</a></li>
        <li><a tabindex="-1" href="https://www.phayul.com/">/news/</a></li>
        <li><a tabindex="-1" href="https://thetibetfiles.123Guestbook.com/">/guestboot/</a></li>
    </ul>

    <img class="nav-close nav-show__hide" src="../static/img/close.webp" alt="Close" width="48">

</div>

<main id="main">

    <p>
        Welcome to a glimpse of the truth that Tibet has often concealed from the world.
        Step into a realm veiled by the
        shadows of oppression in China.
        This is the narrative of Tibet, a nation engaged in an unwavering struggle for
        its freedom.
        Nestled within the majestic Himalayas, Tibet holds a tapestry of heritage, spirituality, and
        indomitable resilience, combating the suffocating grasp of tyranny.
        Join us on a profound expedition that
        reveals the harsh realities endured by the Tibetan people—an untold chronicle of systematic suppression,
        gross
        human rights violations, and cultural subjugation.
        Prepare yourself as we venture into the depths of this
        darkness, laying bare the truths that urgently demand justice.
        The time has come to shatter the silence and
        unite in support of a liberated Tibet.
    </p>
    <div class="alternating-grid">
        <div class="alternating-grid__item">
            <div class="alternating-grid__item__image">
                <img src="../static/img/chinesepolice_like_paper.webp" alt="Tibetan Flag">
                <p class="alternating-grid__item__image__caption">Chinese riot police in Tibet</p>
            </div>

            <div class="alternating-grid__item__text">
                <h2 class="alternating-grid__item__text__heading">Historical Background</h2>
                <p class="alternating-grid__item__text__content">
                    The historical background of the Tibetan freedom movement is rooted in Tibet's long-standing
                    cultural and
                    political autonomy. For centuries, Tibet stood as a sovereign nation with a rich heritage deeply
                    intertwined
                    with Tibetan Buddhism. However, in 1950, the People's Republic of China launched a military invasion
                    and claimed
                    sovereignty over Tibet, setting in motion a series of events that would forever alter the course of
                    Tibetan
                    history. The occupation resulted in a significant erosion of Tibetan culture, language, and
                    religious practices.
                    The Tibetan people, led by His Holiness the Dalai Lama, engaged in peaceful resistance against the
                    oppressive
                    Chinese regime. In 1959, a failed uprising led the Dalai Lama to seek exile in India, where he
                    established the
                    Central Tibetan Administration, also known as the Tibetan government-in-exile. Since then, the
                    Tibetan freedom
                    movement has evolved, advocating for Tibet's autonomy, the preservation of Tibetan culture, and the
                    recognition
                    of Tibet's right to self-determination.
                    This movement has garnered international support and continues to be a symbol of resilience,
                    peaceful
                    resistance, and the universal struggle for human rights and freedom.
                </p>
            </div>
        </div>
        <div class="alternating-grid__item">
            <div class="alternating-grid__item__image">
                <img src="../static/img/chinesearmy_like_paper.webp" alt="Tibetan Flag">
                <p class="alternating-grid__item__image__caption">Chinese army marching in Tibet through a town</p>
            </div>

            <div class="alternating-grid__item__text">
                <h2 class="alternating-grid__item__text__heading">Controversial actions taken by China in Tibet</h2>
                <p class="alternating-grid__item__text__content">
                <ul>
                    <li>Mass resettlement of ethnic Han Chinese into Tibetan areas, altering demographics and eroding
                        Tibetan culture.
                    </li>
                    <li>Strict control and surveillance, limiting freedom of speech, religion, and assembly.</li>
                    <li>Widespread censorship and internet restrictions, limiting access to information.</li>
                    <li>Destruction of Tibetan cultural and religious sites, endangering their heritage.</li>
                    <li>Large-scale resource exploitation without environmental safeguards, damaging Tibet's ecology.
                    </li>
                </ul>
            </div>
        </div>
        <div class="alternating-grid__item">
            <div class="alternating-grid__item__image">
                <img src="../static/img/old_resistance_like_paper.webp" alt="Tibetans marching with a flag">
                <p class="alternating-grid__item__image__caption">Tibetans marching with a flag</p>
            </div>

            <div class="alternating-grid__item__text">
                <h2 class="alternating-grid__item__text__heading">Human rights violations by China in Tibet</h2>
                <p class="alternating-grid__item__text__content">
                <ul>
                    <li>Arbitrary arrests and detentions of Tibetans for expressing dissent or advocating for their
                        rights.
                    </li>
                    <li>Reports of torture, ill-treatment, and enforced disappearances of Tibetan activists and
                        political prisoners.
                    </li>
                    <li>Restrictions on freedom of speech, assembly, and religion, suppressing Tibetan voices and
                        cultural practices.
                    </li>
                    <li>Discrimination and marginalization of Tibetans in education, employment, and access to public
                        services.
                    </li>
                    <li>Harsh surveillance measures, including monitoring of communications and online activities.</li>
                    <li>Limited access to independent media and information, with censorship and internet
                        restrictions.
                    </li>
                    <li>Cultural suppression, including the destruction of Tibetan monasteries, restrictions on
                        religious practices, and forced assimilation.
                    </li>
                </ul>
            </div>
        </div>
        <div class="alternating-grid__item">
            <div class="alternating-grid__item__image">
                <img src="../static/img/old_resistance_like_paper.webp" alt="Tibetans marching with a flag">
                <p class="alternating-grid__item__image__caption">Tibetans marching with a flag</p>
            </div>

            <div class="alternating-grid__item__text">
                <h2 class="alternating-grid__item__text__heading">Modern Day Resistance</h2>
                <p class="alternating-grid__item__text__content">
                    In modern times, Tibetan resistance against Chinese forces has persisted through nonviolent means.
                    Tibetans have engaged in peaceful protests, demonstrations, and acts of civil disobedience to voice
                    their demands for freedom, human rights, and the preservation of their culture. Despite facing harsh
                    repression, Tibetan activists continue to inspire hope and resilience as they advocate for justice
                    and the right to self-determination. Their unwavering determination serves as a testament to the
                    enduring spirit of the Tibetan people in their struggle for a free Tibet.
                    <br> <br>
                    The Dalai Lama, the spiritual leader of Tibet, has consistently advocated for a peaceful and
                    negotiated resolution to the Tibet-China issue. He has promoted dialogue, understanding, and
                    compassion as the means to address the concerns of the Tibetan people. The Dalai Lama has worked
                    tirelessly to raise awareness about the human rights violations and cultural suppression faced by
                    Tibetans, both within China and on the international stage. Despite facing challenges and exile from
                    his homeland, he has remained committed to nonviolence and has called for genuine autonomy for
                    Tibetans within the framework of the Chinese constitution. The Dalai Lama's efforts to engage in
                    constructive dialogue and promote harmony have earned him global recognition as a symbol of peace
                    and reconciliation. His actions serve as an inspiration to millions worldwide, demonstrating the
                    power of compassion and peaceful resistance in the pursuit of justice and freedom.
                </p>

            </div>
        </div>
        <div class="alternating-grid__item">
            <div class="alternating-grid__item__image">
                <img src="../static/img/ope.webp" alt="Tibetans marching with a flag">
                <p class="alternating-grid__item__image__caption">Tibetans marching with a flag</p>
            </div>

            <div class="alternating-grid__item__text">
                <h2 class="alternating-grid__item__text__heading">Failure of the UN</h2>
                <p class="alternating-grid__item__text__content">
                    The United Nations' failure to take a strong stance against China's human rights abuses and
                    repression in Tibet is deeply disheartening and raises serious concerns about its commitment to
                    upholding universal values and protecting the rights of oppressed populations. Despite ample
                    evidence of systematic violations, the UN has often remained silent or shown a reluctance to hold
                    China accountable. This lack of action not only undermines the credibility and effectiveness of the
                    organization but also sends a distressing message to Tibetans and other marginalized communities
                    worldwide. The UN must fulfill its moral responsibility by actively addressing the human rights
                    situation in Tibet, conducting independent investigations, and pressuring China to adhere to
                    international standards. It is imperative for the UN to live up to its mandate of promoting and
                    protecting human rights and ensure that no nation is exempt from scrutiny when it comes to the
                    fundamental principles of justice, freedom, and dignity.
                </p>
            </div>
        </div>
    </div>

    <hr>


    <h2>What can I do?</h2>

    <div class="alternating-grid">

        <div class="alternating-grid__item">
            <div class="alternating-grid__item__image">
                <img src="../static/img/flags-at-protest.webp"
                     alt="A group of people holding signs and chanting slogans">
                <p class="alternating-grid__item__image__caption">A group of people holding signs and chanting slogans
                    in support of the Tibetan freedom movement.</p>
            </div>

            <div class="alternating-grid__item__text">
                <h2 class="alternating-grid__item__text__heading">Raise awareness</h2>
                <p class="alternating-grid__item__text__content">
                    Share information about Tibet and the Tibetan freedom movement on social media, in your community,
                    and with your friends and family.
                    You can also sign petitions and participate in peaceful protests to show your support for the
                    Tibetan people.
                </p>
            </div>
        </div>
        <div class="alternating-grid__item">
            <div class="alternating-grid__item__image">
                <img src="../static/img/central-tibetan-administration.webp"
                     alt="A group of people gathered at a meeting of a Tibetan
                    advocacy group.">
                <p class="alternating-grid__item__image__caption">A group of people gathered at a meeting of a Tibetan
                    advocacy group.</p>
            </div>

            <div class="alternating-grid__item__text">
                <h2 class="alternating-grid__item__text__heading">Engage with Tibetan advocacy groups</h2>
                <p class="alternating-grid__item__text__content">
                    There are many Tibetan advocacy groups around the world that work to promote human rights in Tibet.
                    You can get involved with these groups by volunteering, donating, or attending their events
                </p>
            </div>
        </div>
        <div class="alternating-grid__item">
            <div class="alternating-grid__item__image">
                <img src="https://savetibet.org/wp-content/uploads/2019/06/cecc-1800-1.jpg"
                     alt="A group of people gathered around the Dalai Lama
                    as he speaks at the Congressional Human Rights Caucus">
                <p class="alternating-grid__item__image__caption">A group of people gathered around the Dalai Lama
                    as he speaks at the Congressional Human Rights Caucus</p>
            </div>

            <div class="alternating-grid__item__text">
                <h2 class="alternating-grid__item__text__heading">Support organizations working for human rights in
                    Tibet</h2>
                <p class="alternating-grid__item__text__content">
                    There are many organizations that work to promote human rights in Tibet.
                    You can support these
                    organizations by donating or volunteering your time.
                </p>
            </div>
        </div>
        <div class="alternating-grid__item">
            <div class="alternating-grid__item__image">
                <img src="../static/img/pemastory.webp"
                     alt="The book 'Once I Was a Nomad' by Mona Bruchmann
                tells the story of Pema, a Tibetan refugee in India.">
                <p class="alternating-grid__item__image__caption">The book "Once I Was a Nomad" by Mona Bruchmann
                    tells the story of Pema, a Tibetan refugee in India.</p>
            </div>

            <div class="alternating-grid__item__text">
                <h2 class="alternating-grid__item__text__heading">Educate yourself</h2>
                <p class="alternating-grid__item__text__content">
                    Learn more about the Tibetan struggle and share your knowledge with others. There are many resources
                    available to help you learn more about Tibet, including books, articles, websites, and
                    documentaries.
                </p>
            </div>
        </div>

        <div class="alternating-grid__item">
            <div class="alternating-grid__item__image">
                <img src="../static/img/meeting-local-rep.webp"
                     alt="A meeting with a local representative">
                <p class="alternating-grid__item__image__caption">A meeting with a local representative</p>
            </div>

            <div class="alternating-grid__item__text">
                <h2 class="alternating-grid__item__text__heading">Contact your representatives</h2>
                <p class="alternating-grid__item__text__content">
                    Let your elected officials know that you support the Tibetan freedom movement.
                    You can contact them by phone, email, or letter.</p>
            </div>
        </div>


    </div>

    <p>
        Every act, no matter how small, contributes to the collective effort in advocating for a free Tibet and standing
        in solidarity with the Tibetan people.
    </p>

    <p>
        Check out our <a href={{ url_for('resources') }}>resources page</a> and <a href="{{ url_for('store') }}">shop
        page</a> for more information on how you can get involved and support Tibet.
    </p>


    <hr>

    <h2 id="developer">Are you a developer?</h2>
    <p>
        If yes, show solidarity with the Tibetan people by adding this button to your website or app and linking it to
        this page.
    </p>

    <a href="/">
        <img
                src="../static/img/tibet.gif"
                alt="Text 'Free Tibet Now!!!' on a grey background, with the Tibetan flag on the bottom right corner">
        <br>
    </a>

    <script src="https://gist.github.com/BeauTheBeau/cf8de18562f66a0b8738426ee28cbde4.js"></script>


    <hr>

    <iframe class="youtube-video-player" width="560" height="315"
            src="https://www.youtube-nocookie.com/embed/W3E3YvCe0j0?controls=1"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>



</main>

</body>
</html>