<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Tibet Files</title>

    <link rel="stylesheet" href="../static/css/new.css">
    <link rel="icon" href="../static/img/icon-removebg-preview.webp">

    <script defer src="../static/js/main.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Exposing China's Brutal Oppression in Tibet">
    <meta name="keywords" content="Tibet, China, Human Rights, Freedom, Dalai Lama, Buddhism, Culture, History">
    <meta name="author" content="The Tibet Files">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:title" content="The Tibet Files">
    <meta property="og:description" content="Exposing China's Brutal Oppression in Tibet">
    <meta property="og:image" content="../static/icon-removebg-preview.webp">
    <meta property="og:url" content="https://thetibetfiles.com/">
    <meta property="og:type" content="website">

</head>
<body>

<div class="hero" id="hero">
    <div id="hero-background" class="hero-background"></div>
    <div class="hero-content">
        <img src="../static/img/tbf.webp" alt="The Tibet Files" class="logo" width="256px">
        <h2 class="subheading">Resources</h2>
    </div>

    <a class="hero-scroll_down" href="#main"><img src="../static/img/arrow-down.webp" alt="Scroll Down" width="64px"></a>

</div>

<nav class="nav">
    <div class="nav-logo">
        <a href="/"><img src="../static/img/tbf.webp" alt="The Tibet Files" width="128px"></a>
    </div>

    {# Hamburger Menu #}
    <img class="nav-hamburger nav-show__hide" src="../static/img/menu.webp" alt="Menu" width="48">

</nav>


<div class="nav-menu">

    <a class="nav-logo" href="/"><img src="../static/img/tbf.webp" alt="The Tibet Files" width="128px"></a>

    <ul>
        <li><a tabindex="-1" href={{ url_for('main') }}>/home/</a></li>
        <li><a tabindex="-1" href={{ url_for('resources') }}>/resources/</a></li>
        <li><a tabindex="-1" href={{ url_for('store') }}>/store/</a></li>
        <li><a tabindex="-1" href="https://www.phayul.com/">/news/</a></li>
        <li><a tabindex="-1" href="https://thetibetfiles.123Guestbook.com/">/guestboot/</a></li>
    </ul>

    <img class="nav-close nav-show__hide" src="../static/img/close.webp" alt="Close" width="48">

</div>

<main id="main">

    <h1>Resources</h1>

    <h2>Twitter accounts to follow</h2>

    <ul>
        <li>
            His Holiness the 14th Dalai Lama | <a href="https://twitter.com/DalaiLama">@DalaiLama</a> | <a
                href="https://dalailama.com/">dalailama.com</a>
        </li>
        <li>
            The Save Tibet Organisation | <a href="https://twitter.com/savetibetorg">@savetibetorg</a> | <a
                href="https://savetibet.org/">savetibet.org</a>
        </li>
        <li>
            Tibet Rights Collective |
            <a href="https://twitter.com/TibetCollective">@TibetCollective</a> |
            <a href="https://tibettruth.com/">tibettruth.com</a>
        </li>

    </ul>

    <h2>Other resources</h2>

    <ul>
        <li><a href="https://reddit.com/r/tibet">/r/tibet</a></li>
        <li><a href="https://studentsforafreetibet.org/">Students for a free Tibet | Bay Area</a></li>
        <li><a href="https://tibetnetwork.org/">The Tibet Network</a></li>

    </ul>

    <hr>

    <h2 id="developer">Are you a developer?</h2>
    <p>
        If yes, show solidarity with the Tibetan people by adding this button to your website or app and linking it to
        this page.
    </p>

    <a href="/">
        <img
                src="../static/img/tibet.gif"
                alt="Text 'Free Tibet Now!!!' on a grey background, with the Tibetan flag on the bottom right corner">
        <br>
    </a>

    <script src="https://gist.github.com/BeauTheBeau/cf8de18562f66a0b8738426ee28cbde4.js"></script>


    <hr>

    <iframe class="youtube-video-player" width="560" height="315"
            src="https://www.youtube-nocookie.com/embed/W3E3YvCe0j0?controls=1"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>


</main>

</body>
</html>